@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
}

h1 {
  font-family: 'Staatliches', cursive;
  padding-top: 50px;
}

.uk-select {
  border-radius: 5px;
  background-color: #111111;
  border: 0px;
  color: white;
}

.uk-select:focus {
  background-color: #111111;
  color: white;
}

.t {
  margin: auto;
  min-width: 20vw;
  font-size: 32px;
  border-radius: 5px;
}

#btnarea {
  position: absolute;
  top: 60vh;
  width: 100vw;
  display: flex;
}

.uk-card {
  font-size: 24px;
}